@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Lobster|Quicksand');


a:link {text-decoration: none }
a:hover { color: white;  text-decoration: none  }
a:visited {color: white;  font-family: arial; text-decoration: none }
a{
  color: white;
}
body
{
background: white;
}
.header
{
  display: flex;
  flex-direction:column;
  background: black;
  color: white;
  align-items: center;
  justify-content:space-around;
  width: auto;
  padding: 0px 0 30px 0;

}

.logotipo
{
  position:relative;
  width: 200px;
  height: 200px;
  border-radius: 30px;

}

.presentación{
  display: flex;
  flex-direction: column;

  width: auto;
}
h1{
  font-family: Lobster;
  font-size: 5vw;
  margin: 0;
  padding-bottom:10vh;
}
.Escritos_portada
{

display: flex;
justify-content: center;


}
.imagen_portada{

  width: auto;
  margin: 30px 30px 80px 30px;
}


ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
li
{
  width: 9vw;
  padding: 10px;
  margin: 30px;

  text-align: center;
  text-decoration:none;
  color: black;
  font-size: auto;
  font-family: Lobster;
}
li:hover
{
  border-radius: 20px;
  background: #5c636e;
  border: solid #f5fac7 2px;
}
.Redes
{
  display: flex;
  background: #003545;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.logo_Redes
{
  width: 50px;
  height: 50px;

}
.logo_Redes:hover
{
  width: 55px;
  height: 55px;

}
.Introduccion
{
  display: flex;
  flex-direction: column;
  background: #00454a;
  color: #f5fac7;

}
.Introduccion h3
{
  text-align: center;
  font-family: "Baloo Bhai";
  font-size: 3vw;

}
.Introduccion p
{
  text-align: center;
  font-family: Lobster;
  font-size: 1.5vw;
}
.Caja_Imagenes_introducción
{

  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.Imagenes_introducción
{
  width: 30vw;
  height: 30vw;
  margin: 15vh 0 15vh 0;
  border-radius: 20px;
}
.Imagenes_introducción:hover
{
  width: 32vw;
  height: 32vw;
}
.Sobre_nosotros
{
  display: flex;
  flex-direction: row;
  background: #393e46;
}
.Imagen_sobre_nosotros
{
width: 50vw;
padding: 15vh 3vw 15vh 3vw;

border-radius: 150px;

}

.Texto_sobre_nosotros
{
  display: flex;
  flex-direction: column;
  justify-content:center;


}
.texto_centrado
{
  text-align:center;
  color: #f7f7f7;
}
.Texto_sobre_nosotros h3
{
  padding-top: 2vh;
  font-family: "Baloo Bhai";
  font-size: 3vw;
}

.Texto_sobre_nosotros h4
{
  font-family: "Lobster";
  font-size: 2vw;
}
.Texto_sobre_nosotros p
{
  font-family: Quicksand;
  font-size: 1vw;
  padding-left: 30px;
}
