
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Lobster');

body
{
background: white;
}
.header
{
  display: flex;
  flex-direction:column;
  background: black;
  color: white;
  align-items: center;
  justify-content:space-around;
  width: auto;
  padding: 30px 0 30px 0;

}

.logotipo
{
  position:relative;
  width: 200px;
  height: 200px;
  border-radius: 30px;

}

.presentación{
  display: flex;
  flex-direction: column;

  width: auto;
}
h1{
  font-family: Lobster;
  font-size: 5vw;
}
.Escritos_portada
{

display: flex;
justify-content: center;


}
.imagen_portada{

  width: auto;
  margin: 30px 30px 80px 30px;
}


ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
li
{
  width: 130px;
}
.Redes
{
  display: flex;
  background: #003545;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.logo_Redes
{
  width: 50px;
  height: 50px;

}
.Introduccion
{
  display: flex;
  flex-direction: column;
  background: #00454a;
  color: #f5fac7;

}
.Introduccion h3
{
  text-align: center;
  font-family: "Baloo Bhai";
  font-size: 3vw;

}
.Introduccion p
{
  text-align: center;
  font-family: Lobster;
  font-size: 1.5vw;
}
.Caja_Imagenes_introducción
{

  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.Imagenes_introducción
{
  width: 30vw;
  height: 30vw;
  border-radius: 20px;
}
